name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    name: check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: npm install --legacy-peer-deps

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test
